# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
FileMiner/bin/Debug/*.*
FileMiner/obj/x86/Debug/*.*
FileMiner/obj/x86/Release/*.*
FileMiner/obj/x86/Release/TempPE/*.*
BSFileMiner_Install/images/Thumbs.db
