# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
FileMiner/bin/Debug/*.*
FileMiner/obj/x86/Debug/*.*
FileMiner/obj/x86/Release/*.*
FileMiner/obj/x86/Release/TempPE/*.*
BSFileMiner_Install/images/Thumbs.db
FileMiner/obj/x86/Debug/TempPE/*.*
.vs/FileMiner/v16/.suo
.vs/FileMiner/v16/TestStore/0/000.testlog
.vs/FileMiner/v16/TestStore/0/testlog.manifest
*.exe
FileMiner/bin/Release/FileMiner.exe.config
FileMiner/bin/Release/FileMiner.exe
FileMiner/bin/Release/FileMiner.exe.config
BSFileMiner_Install/Release/setup.exe
BSFileMiner_Install/Release/BSFileMiner_Install.msi
FileMiner/bin/Release/FileMiner.exe
